rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    function isSuperAdmin() {
      return request.auth != null && getUserData().role == 'superadmin';
    }

    // Users collection
    match /users/{userId} {
      allow read, write: if request.auth != null && (
        request.auth.uid == userId || 
        isSuperAdmin() ||
        (getUserData().role == 'admin' && getUserData().companyId == resource.data.companyId)
      );
    }
    
    // Movements collection
    match /movements/{movementId} {
      allow read, write: if request.auth != null && (
        isSuperAdmin() ||
        (resource == null && request.resource.data.userId == request.auth.uid) || 
        (resource != null && (resource.data.userId == request.auth.uid || 
         (getUserData().role == 'admin' && getUserData().companyId == resource.data.companyId)))
      );
    }

    // Company Config
    match /companies_config/{companyId} {
      allow read: if request.auth != null && (isSuperAdmin() || getUserData().companyId == companyId);
      allow write: if isSuperAdmin();
    }
  }
}
